src/lib/workflowTemplate.json
{"name":"CONTACT_NEW — Match sessão","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"12272b93-873f-4816-b3ff-593161959d1a","leftValue":"={{ $json.hasTagLead }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"a1ec2782-2a27-4c70-bb5c-c6afaa88b0ca","leftValue":"={{ $json.hasTagCompra }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"cb5de906-e370-4660-932d-4bbfcffe73b6","name":"Tem tag relevante?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4864,-640]},{"parameters":{"url":"={{ $('⚙️ CONFIG1').first().json.supabase_url }}/rest/v1/sessions","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"*"},{"name":"phone","value":"={{ 'eq.' + $json.phone }}"},{"name":"account_id","value":"={{ 'eq.' + $json.account_id }}"},{"name":"matched","value":"eq.true"},{"name":"order","value":"matched_at.desc"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.supabase_key }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $json.supabase_key }}"}]},"options":{}},"id":"801bd380-fa9d-4e8a-9b62-d5ffe2cf3a8e","name":"Buscar sessão por telefone","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4640,-736]},{"parameters":{"jsCode":"// SHA-256 implementado em JS puro — sem dependências\nfunction sha256(str) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n  const mathPow = Math.pow;\n  const maxWord = mathPow(2, 32);\n  let result = '';\n  const words = [];\n  const asciiBitLength = str.length * 8;\n  let hash = [];\n  let k = [];\n  let primeCounter = 0;\n  const isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (let i = candidate * candidate; i < 313; i += candidate) isComposite[i] = true;\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n  str += '\\x80';\n  while (str.length % 64 - 56) str += '\\x00';\n  for (let i = 0; i < str.length; i++) {\n    const j = str.charCodeAt(i);\n    if (j >> 8) return '';\n    words[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  words[words.length] = (asciiBitLength / maxWord) | 0;\n  words[words.length] = asciiBitLength;\n  for (let j = 0; j < words.length;) {\n    const w = words.slice(j, (j += 16));\n    const oldHash = hash.slice(0);\n    for (let i = 0; i < 64; i++) {\n      const i2 = i + j - 16;\n      const w15 = w[i - 15], w2 = w[i - 2];\n      const a = hash[0], e = hash[4];\n      const temp1 = hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) + k[i] +\n        (w[i] = i < 16 ? w[i] : (\n          w[i - 16] +\n          (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n          w[i - 7] +\n          (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))\n        ) | 0);\n      const temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n      hash.length = 8;\n    }\n    hash = hash.map((a, i) => (a + oldHash[i]) | 0);\n  }\n  for (let i = 0; i < 8; i++) {\n    for (let j = 3; j + 1; j--) {\n      const b = (hash[i] >> (j * 8)) & 255;\n      result += (b < 16 ? '0' : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\nconst prep = $('Preparar dados1').first().json;\nconst cfg = $('⚙️ CONFIG1').first().json;\nlet session = $('Buscar sessão por telefone').first().json;\nif (Array.isArray(session)) session = session[0];\n\nconst phoneHash = sha256(String(prep.phone).toLowerCase());\nconst eventTime = Math.floor(Date.now() / 1000);\n\nconst baseUserData = {\n  ph: [phoneHash],\n  fbc: session.fbc || undefined,\n  fbp: session.fbp || undefined,\n};\n\nconst items = [];\n\nif (prep.hasTagLead) {\n  items.push({\n    json: {\n      payload: {\n        data: [{\n          event_name: 'Lead',\n          event_time: eventTime,\n          action_source: 'website',\n          user_data: baseUserData,\n        }],\n        test_event_code: cfg.test_event_code,\n      },\n      pixel_id: cfg.meta_pixel_id,\n      access_token: cfg.meta_access_token,\n    },\n  });\n}\n\nif (prep.hasTagCompra) {\n  const v = parseFloat(prep.valor);\n  const value = Number.isFinite(v) ? v : 0;\n  items.push({\n    json: {\n      payload: {\n        data: [{\n          event_name: 'Purchase',\n          event_time: eventTime,\n          action_source: 'website',\n          user_data: baseUserData,\n          custom_data: {\n            value: value,\n            currency: 'BRL',\n          },\n        }],\n        test_event_code: cfg.test_event_code,\n      },\n      pixel_id: cfg.meta_pixel_id,\n      access_token: cfg.meta_access_token,\n    },\n  });\n}\n\nreturn items;\n"},"id":"318e55cd-a440-4cbd-a985-f55d9a494667","name":"Montar payloads pixel","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4192,-832]},{"parameters":{"method":"POST","url":"={{ 'https://graph.facebook.com/v19.0/' + $json.pixel_id + '/events' }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { data: $json.payload.data, test_event_code: $json.payload.test_event_code } }}","options":{}},"id":"143d8dd1-9591-4e4d-ba73-09a12207ecf9","name":"Disparar pixel","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3968,-832]},{"parameters":{},"id":"4301637f-f627-4971-a3c7-5a45d8d1d895","name":"Sem tag relevante","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4640,-544]},{"parameters":{"httpMethod":"POST","path":"contact-tag-update","options":{}},"id":"10e86f80-c3c2-4978-bcb0-b8e821c9d4a5","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5536,-640],"webhookId":"c08fbbda-a7f7-42ee-b504-c6bb69cc2edc"},{"parameters":{"assignments":{"assignments":[{"id":"a6021a73-dede-4086-838b-eed79629acde","name":"supabase_url","value":"__SUPABASE_URL__","type":"string"},{"id":"e2e7b8b6-3107-439a-bacb-965febaa0e30","name":"supabase_key","value":"__SUPABASE_KEY__","type":"string"},{"id":"3efe20ab-c608-4991-b7ba-29fe599a475e","name":"account_id","value":"__ACCOUNT_ID__","type":"string"},{"id":"24bc9d0d-704a-4dc0-ba76-0db1be14de6a","name":"meta_pixel_id","value":"__META_PIXEL_ID__","type":"string"},{"id":"037c8989-e506-4a4a-ab75-2b352cfc4599","name":"meta_access_token","value":"__META_ACCESS_TOKEN__","type":"string"},{"id":"ab5386a4-0980-4316-850a-75641d19f93a","name":"test_event_code","value":"","type":"string"},{"id":"fa876142-0af5-4035-9c29-13e490cc2fe4","name":"tag_lead","value":"__TAG_LEAD__","type":"string"},{"id":"f2f6b0dd-8db0-418a-83c2-e4d1c567ceaf","name":"tag_compra","value":"__TAG_COMPRA__","type":"string"}]},"options":{}},"id":"c9c15173-36fd-40e3-975e-dbf20ff2e638","name":"⚙️ CONFIG1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5312,-640]},{"parameters":{"jsCode":"const body = $('Webhook1').first().json.body;\nconst cfg = $('⚙️ CONFIG1').first().json;\n\nconst phonenumber = body.content?.phonenumber;\nconst phone = String(phonenumber ?? '').replace(/\\D/g, '');\nconst tags = body.content?.tags || [];\nconst valor = body.content?.customFieldValues?.valor || null;\n\nconst hasTagLead = tags.includes(cfg.tag_lead);\nconst hasTagCompra = tags.includes(cfg.tag_compra);\n\nreturn [{\n  json: {\n    phone,\n    tags,\n    valor,\n    hasTagLead,\n    hasTagCompra,\n    account_id: cfg.account_id,\n    supabase_url: cfg.supabase_url,\n    supabase_key: cfg.supabase_key,\n  }\n}];"},"id":"a674e718-f7c9-4705-bc7c-2b5960fc4f1f","name":"Preparar dados1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5088,-640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a9fcef31-0b05-46a8-a7ec-7ccc71115b5f","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"a3d303ca-3f4f-4d6a-bda8-c877ec525be1","name":"Sessão encontrada?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4416,-736]},{"parameters":{},"id":"59d397c9-4c69-458e-8175-73dc9b09e515","name":"Sem sessão encontrada1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4192,-640]},{"parameters":{"httpMethod":"POST","path":"8402fa5c-758c-410e-b6b4-f2cd5e37ffa3","options":{}},"id":"a16ec658-3b57-4834-ae5c-a4f6a3977ce6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5568,-1200],"webhookId":"f9e8d7c6-b5a4-3210-fedc-ba9876543210"},{"parameters":{"assignments":{"assignments":[{"id":"cfg-supabase-url","name":"supabase_url","value":"__SUPABASE_URL__","type":"string"},{"id":"cfg-supabase-key","name":"supabase_key","value":"__SUPABASE_KEY__","type":"string"},{"id":"cfg-account-id","name":"account_id","value":"__ACCOUNT_ID__","type":"string"},{"id":"cfg-meta-pixel-id","name":"meta_pixel_id","value":"__META_PIXEL_ID__","type":"string"},{"id":"cfg-meta-access-token","name":"meta_access_token","value":"__META_ACCESS_TOKEN__","type":"string"},{"id":"cfg-test-event-code","name":"test_event_code","value":"__TEST_EVENT_CODE__","type":"string"}]},"options":{}},"id":"24062d3c-9ee8-4dfc-962b-6159f0dc640a","name":"⚙️ CONFIG","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5344,-1200]},{"parameters":{"jsCode":"const webhookData = $('Webhook').first().json;\nconst body = webhookData.body ?? webhookData;\nconst phonenumber = body.content?.phonenumber;\nconst phone = String(phonenumber ?? '').replace(/\\D/g, '');\nconst cfg = $('⚙️ CONFIG').first().json;\nconst utmPayload = body.content?.utm || null;\nconst now_iso = new Date().toISOString();\n\nreturn [{\n  json: {\n    phone,\n    phone_filter: 'eq.' + phone,\n    account_id: cfg.account_id,\n    supabase_url: cfg.supabase_url,\n    supabase_key: cfg.supabase_key,\n    now_iso,\n    utm_from_payload: utmPayload,\n  }\n}];"},"id":"a0790345-1189-4ac0-81f5-79d6ba8a9c91","name":"Preparar dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5120,-1200]},{"parameters":{"url":"={{ $json.supabase_url }}/rest/v1/sessions","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"*"},{"name":"account_id","value":"={{ 'eq.' + $json.account_id }}"},{"name":"matched","value":"eq.false"},{"name":"expires_at","value":"={{ 'gt.' + $json.now_iso }}"},{"name":"order","value":"clicked_at.desc"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.supabase_key }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $json.supabase_key }}"}]},"options":{}},"id":"8b74c0bb-c2fc-4fbd-8ada-931e5567d8c7","name":"Buscar sessão","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4896,-1200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-session-found","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"333b567d-3b3e-4b48-a002-8c19141a1f79","name":"Sessão encontrada?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4672,-1200]},{"parameters":{"method":"PATCH","url":"={{ $('⚙️ CONFIG').first().json.supabase_url + '/rest/v1/sessions?id=eq.' + $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('⚙️ CONFIG').first().json.supabase_key }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $('⚙️ CONFIG').first().json.supabase_key }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { phone: $('Preparar dados').first().json.phone, matched: true, matched_at: $json.matched ? $json.matched_at : new Date().toISOString() } }}","options":{}},"id":"d9aff4e9-5ea9-4313-9140-16662f8208c4","name":"Fazer match","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4224,-1344]},{"parameters":{"jsCode":"// SHA-256 implementado em JS puro — sem dependências\nfunction sha256(str) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n  const mathPow = Math.pow;\n  const maxWord = mathPow(2, 32);\n  let result = '';\n  const words = [];\n  const asciiBitLength = str.length * 8;\n  let hash = [];\n  let k = [];\n  let primeCounter = 0;\n  const isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (let i = candidate * candidate; i < 313; i += candidate) isComposite[i] = true;\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n  str += '\\x80';\n  while (str.length % 64 - 56) str += '\\x00';\n  for (let i = 0; i < str.length; i++) {\n    const j = str.charCodeAt(i);\n    if (j >> 8) return '';\n    words[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  words[words.length] = (asciiBitLength / maxWord) | 0;\n  words[words.length] = asciiBitLength;\n  for (let j = 0; j < words.length;) {\n    const w = words.slice(j, (j += 16));\n    const oldHash = hash.slice(0);\n    for (let i = 0; i < 64; i++) {\n      const i2 = i + j - 16;\n      const w15 = w[i - 15], w2 = w[i - 2];\n      const a = hash[0], e = hash[4];\n      const temp1 = hash[7] +\n        (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25)) +\n        ((e & hash[5]) ^ (~e & hash[6])) + k[i] +\n        (w[i] = i < 16 ? w[i] : (\n          w[i - 16] +\n          (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) +\n          w[i - 7] +\n          (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))\n        ) | 0);\n      const temp2 =\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22)) +\n        ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n      hash.length = 8;\n    }\n    hash = hash.map((a, i) => (a + oldHash[i]) | 0);\n  }\n  for (let i = 0; i < 8; i++) {\n    for (let j = 3; j + 1; j--) {\n      const b = (hash[i] >> (j * 8)) & 255;\n      result += (b < 16 ? '0' : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\nlet session;\nconst fm = $('Fazer match').first();\nif (fm && fm.json) {\n  session = fm.json;\n  if (Array.isArray(session)) session = session[0];\n}\nif (!session || !session.id) {\n  const bt = $('Buscar sessão por telefone1').first();\n  if (bt && bt.json) {\n    session = bt.json;\n    if (Array.isArray(session)) session = session[0];\n  }\n}\nif (!session || !session.id) {\n  let s = $('Buscar sessão').first().json;\n  session = Array.isArray(s) ? s[0] : s;\n}\nconst cfg = $('⚙️ CONFIG').first().json;\nconst prep = $('Preparar dados').first().json;\nconst phone = prep.phone;\n\n// UTMs: usa do payload se existir, senão usa do Supabase\nconst utmSource = prep.utm_from_payload?.source || session.utm_source || null;\nconst utmMedium = prep.utm_from_payload?.medium || session.utm_medium || null;\nconst utmCampaign = prep.utm_from_payload?.campaign || session.utm_campaign || null;\nconst utmContent = prep.utm_from_payload?.content || session.utm_content || null;\nconst utmTerm = prep.utm_from_payload?.term || session.utm_term || null;\nconst fbclid = prep.utm_from_payload?.clid || session.fbclid || null;\nconst fbc = session.fbc || (fbclid ? `fb.1.${Date.now()}.${fbclid}` : null);\nconst fbp = session.fbp || null;\n\nconst phoneHash = sha256(String(phone).toLowerCase());\n\nconst payload = {\n  data: [{\n    event_name: 'Contact',\n    event_time: Math.floor(Date.now() / 1000),\n    action_source: 'website',\n    user_data: {\n      ph: [phoneHash],\n      fbc: fbc || undefined,\n      fbp: fbp || undefined,\n    },\n    custom_data: {\n      utm_source: utmSource,\n      utm_medium: utmMedium,\n      utm_campaign: utmCampaign,\n      utm_content: utmContent,\n      utm_term: utmTerm,\n    }\n  }],\n  test_event_code: cfg.test_event_code,\n};\n\nreturn [{\n  json: {\n    payload,\n    pixel_id: cfg.meta_pixel_id,\n    access_token: cfg.meta_access_token,\n  }\n}];"},"id":"3231670f-9d07-4680-9ec4-656fbb8dffdb","name":"Montar payload pixel","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4000,-1296]},{"parameters":{"method":"POST","url":"={{ 'https://graph.facebook.com/v19.0/' + $json.pixel_id + '/events' }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { data: $json.payload.data, test_event_code: $json.payload.test_event_code } }}","options":{}},"id":"fc4c0ecd-8f1d-44f9-9048-2f1d63abcd9b","name":"Disparar pixel Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3776,-1296]},{"parameters":{},"id":"9ad37c04-46b5-465a-aa0c-3405e961f84c","name":"Sem sessão encontrada","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4000,-1056]},{"parameters":{"url":"={{ $('⚙️ CONFIG').first().json.supabase_url }}/rest/v1/sessions","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"*"},{"name":"account_id","value":"={{ 'eq.' + $('⚙️ CONFIG').first().json.account_id }}"},{"name":"phone","value":"={{ 'eq.' + $('Preparar dados').first().json.phone }}"},{"name":"matched","value":"eq.true"},{"name":"order","value":"matched_at.desc"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('⚙️ CONFIG').first().json.supabase_key }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $('⚙️ CONFIG').first().json.supabase_key }}"}]},"options":{}},"id":"a41c0dec-9579-46ac-972b-fcc4fbf039ee","name":"Buscar sessão por telefone1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4448,-1104]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e30a6566-e952-4fcb-b17a-2486fc249c78","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"c00795a5-b539-40cb-a692-ff029f5bd576","name":"Sessão encontrada?2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4224,-1104]}],"pinData":{},"connections":{"Tem tag relevante?":{"main":[[{"node":"Buscar sessão por telefone","type":"main","index":0}],[{"node":"Sem tag relevante","type":"main","index":0}]]},"Buscar sessão por telefone":{"main":[[{"node":"Sessão encontrada?1","type":"main","index":0}]]},"Montar payloads pixel":{"main":[[{"node":"Disparar pixel","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"⚙️ CONFIG1","type":"main","index":0}]]},"⚙️ CONFIG1":{"main":[[{"node":"Preparar dados1","type":"main","index":0}]]},"Preparar dados1":{"main":[[{"node":"Tem tag relevante?","type":"main","index":0}]]},"Sessão encontrada?1":{"main":[[{"node":"Montar payloads pixel","type":"main","index":0}],[{"node":"Sem sessão encontrada1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"⚙️ CONFIG","type":"main","index":0}]]},"⚙️ CONFIG":{"main":[[{"node":"Preparar dados","type":"main","index":0}]]},"Preparar dados":{"main":[[{"node":"Buscar sessão","type":"main","index":0}]]},"Buscar sessão":{"main":[[{"node":"Sessão encontrada?","type":"main","index":0}]]},"Sessão encontrada?":{"main":[[{"node":"Fazer match","type":"main","index":0}],[{"node":"Buscar sessão por telefone1","type":"main","index":0}]]},"Fazer match":{"main":[[{"node":"Montar payload pixel","type":"main","index":0}]]},"Montar payload pixel":{"main":[[{"node":"Disparar pixel Contact","type":"main","index":0}]]},"Buscar sessão por telefone1":{"main":[[{"node":"Sessão encontrada?2","type":"main","index":0}]]},"Sessão encontrada?2":{"main":[[{"node":"Montar payload pixel","type":"main","index":0}],[{"node":"Sem sessão encontrada","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"versionId":"4a302a04-b6e1-4b9e-8779-f877ae105e17","meta":{"instanceId":"f5e1f46defdf595ff57cfa006349a58450c9f9d3958330ae2112f4eff44ddd2c"},"id":"qdMMJ4FhUJwhSfbB","tags":[]}